/* General Settings */

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  margin: 0;
  background-color: lightyellow;
}
::selection {
  color: salmon;
  background: blue;
}

/*Styling*/

.profession::after {
  content: "👻";
}

.header {
  padding: 3.125rem 1.25rem;
  padding-top: 4rem;
  text-align: center;
  background-color: darksalmon;
  position: relative;
}

.header-group {
  font-size: 3.5rem;
}
.main-header {
  font-size: 1em;
}

.profession {
  font-size: 0.25em;
}

.nav-link {
  padding: 0.25rem 0.5rem;
  color: darkred;
}

.nav-link:hover {
  color: black;
  background-color: grey;
}

.nav-link:active {
  color: azure;
  background-color: lightyellow;
}
.nav-link + .nav-link {
  margin-left: 1.25rem;
}

.main {
  max-width: 65ch;
  margin: 0 auto;
  padding: auto;
  background-color: lightyellow;
}

/* Kasten*/

.button {
  background-color: #5b4caf; /* Blue */
  border: none;
  color: lightsalmon;
  padding: 0.938rem 2rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.25rem;
}
