/* General Settings */

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

body {
  margin: 0;
  background-color: lightyellow;
}
::selection {
  color: salmon;
  background: blue;
}

footer {
  padding: 0.7rem 0;
  padding-bottom: 4rem;
  text-align: left;
  background-image: linear-gradient(90deg, salmon, black);
  position: relative;
}
/*Styling*/

.profession::after {
  content: "👻";
}

.header {
  padding: 3.125rem 1.25rem;
  padding-top: 4rem;
  text-align: center;
  background-image: linear-gradient(240deg, lightsalmon, rgb(117, 52, 52));
  position: relative;
}

.header-group {
  font-size: 3.5rem;
}
.main-header {
  font-size: 1em;
}

.profession {
  font-size: 0.25em;
}

.navigation {
  display: none;
}

.navigation {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav-link {
  padding: 0.25rem 0.5rem;
  color: darkred;
}

.nav-link:hover {
  color: black;
  background-color: grey;
}

.nav-link:active {
  color: azure;
  background-color: lightyellow;
}

.main {
  max-width: 65ch;
  margin: 0 auto;
  padding: auto;
}

.main > * + * {
  margin-top: 3rem;
}

.main > *:first-child {
  border-top: none;
}

.article-heading {
  position: relative;
  left: -1rem;
}

.experience-heading {
  display: flex;
  flex-direction: column;
}

.hire-me {
  position: fixed;
  right: 3rem;
  top: 2rem;
  padding: 0.5rem;
  border-radius: 0.25rem;
  background: lightskyblue;
  color: black;
  transition: transform 0.2s ease-in-out;
}

/* Kasten*/

button {
  background-color: lightyellow;
  border: none;
  color: salmon;
  padding: 0.7rem 1.3rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.125rem;
}

button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

button span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

button:hover {
  background-color: darksalmon;
  color: white;
}

button:hover span {
  padding-right: 25px;
}

button:hover span:after {
  opacity: 1;
  right: 0;
}
.header:hover .hire-me {
  background-color: aqua;
  transform: scale(2);
}

/* Breakpoints*/

@media screen and (min-width: 992px) {
  .hire-me {
    font-size: 16px;
    position: fixed;
  }
}

@media screen and (min-width: 768px) {
  html {
    font-size: 1.125;
  }
}

@media screen and (min-width: 992px) {
  html {
    font-size: 1.25;
  }
}

@media screen and (min-width: 768px) {
  .nav-link + .nav-link {
    margin-left: 1re;
  }
}
@media screen and (min-width: 768px) {
  .navigation {
    flex-direction: row;
    justify-content: center;
  }
}

@media screen and(min-width: 768px) {
  .experience-header {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
  }
}
/* Drucker*/

@media print {
  .hire-me {
    display: none;
  }
}
